{{>header}}

<h1 class="heading">PAGE NOT FOUND</h1>
<p>The Page you are looking for does not exist you can try the links above</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora, pariatur quia. Eveniet asperiores fugiat impedit, recusandae assumenda sed quis quisquam cupiditate voluptates consequuntur vero dolor repudiandae quae id itaque praesentium ab quas veritatis. Modi sequi facere soluta deserunt ex nemo dicta odit quia iusto eaque dolor vel, architecto eius odio?</p>

{{> footer}}

 <script src="/js/rwd.js"></script>
</body>
</html>