<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Express Checkpoint | {{title}}</title>
 <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
 <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav id="navbar">
        <a href="/"><i class="fas fa-home"></i> Home</a>
        <a href="/service"> <i class="fas fa-user"></i> Our services</a>
        <a href="/contact"> <i class="fas fa-address-book"></i> Contact Us</a>
        <div class="hamburger">
         <div class="line"></div>
        </div>
       </nav>
       <h1 class="reqtime">This request was made {{route}} on {{reqTime}}</h1>